body {
  background-color: #4968a7;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

main {
  width: 80%;
  min-height: 30rem;
  margin: 1rem auto 1rem auto;
}


.menu {
  display: inline-block;
  position: absolute;
  right: 0;
  padding: 0.2rem;
}

.menu a {
  text-decoration: none;
  color: #5a0c0c;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1rem;

}

.menu a:hover {
  color: black;
}


.tile {
  width: 20rem;
  float: left;
  height: 14rem;
  margin: 1rem;
  box-shadow: 0 0 1rem black;

}

.tile-contents {
  height: 14rem;
  display: flex;
  flex-direction: row;
  opacity: 70%;
  cursor: pointer;
}

/* Clearfix */
.tile:after{
  content: "";
  clear: both;
  display: table;
}

.tile-left {
  background: rgba(0,0,0,0.2);
  width: 30%;
  height: 100%;
  text-align: center;

}

.tile-right {
  padding: 0 1rem;
  width: 70%;
  height: 100%;
  white-space: pre-wrap;
}

.tile-contents:hover {
  opacity: 100%;
}

.tile img {
  width: 100%;
}

.price {
  margin-top: 0.5rem;
  color: #f4c60b;
}

.list-price {
  color: #cccccc;
  text-decoration: line-through;
  font-size: small;
}

/*modal */
.modalBackground {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: +100;
  background: rgba(0,0,0,0.7);
}

.showModal-true {
  opacity: 1;
  pointer-events: all;
}

.modalInner {
  width: 30rem;
  height: 40rem;
  background: #4968a7;
  margin: 5rem auto;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: row;
}

.modalLeft {
  background: rgba(0,0,0,0.2);
  width: 30%;
  height: 100%;
}

.modalImage img {
  width: 100%;
  border-top-left-radius: 0.25rem;
}

.modalRight {
  padding: 1rem;
  width: 70%;
  height: 100%;
  text-align: center;
}

.modalDescription {
  white-space: pre-wrap;
}

.text-low-emphasis {
  font-family: "arial", sans-serif;
  font-weight: normal;
  font-size: 0.9rem;
  color: gray;
}

/* button styling */
.more, .exit {
  border: none;
  border-radius: 0.2rem;
}

.more {
    border: 1px solid black;
    background: none;
}

.more:hover {
  background-color: gray;
}

.more:active {
  background-color: white;
}

.exit-spacing {
  margin-top: 0.75rem;
}

.exit {
  color: #cccccc;
  cursor: default;
  font-family: "arial", sans-serif;
  padding: 0.2rem 1rem;
}

.exit:hover {
  background: rgba(0,0,0,.2);
  color: black;
}

.exit:active {
  color: #cccccc;
}

/* ***RESIZING*** */
/* FOR TABLET */
@media screen and (max-width: 1024px) {
  main {
    width: 90%;
  }

}

/* FOR PHONE */
@media screen and (max-width: 767px) {
  main {
    min-width: 20rem;
    width: 95%;
  }
  h1, nav {
    font-size: 120%;
  }

  nav {
    height: 3rem;
  }

  .modalInner {
    width: 90%;
    height: 90%;
    margin: 5rem auto;
    font-size: 110%;
  }
  .text-low-emphasis {
    font-size: 90%;
  }

  .tile {
    width: 90%;
    float: none;
    margin: 1rem auto;
  }

  .tile-left {
    width: 20%;
  }

  .tile-right {
    width: 80%;
  }

  .tile-contents {
    font-size: 1.2rem;
  }
}
